---
import Layout from "../layouts/Layout.astro";
import Cabecera from "../components/Cabecera.astro"
---

<Layout title="Auxiliar Manipuladora del cartón">
	<Cabecera></Cabecera>
	<h1 class="text-white">Auxiliar Manipuladora del Cartón</h1>
</Layout>