---
import { menuItems } from '/src/data/data'
---

<nav class="flex justify-center bg-white py-4">
    <ul class="flex">{menuItems.map( item => (
        <li class="px-4"><a href={item.url}>{item.titulo}</a></li>
    ))}

    </ul>
</nav>
<main class="flex justify-center py-4 bg-white ">
    <div id="logo" class="cabecera flex-grow-0 mx-auto"><img class="w-[12rem] md:w-[22rem]" src="./logo-aux.svg" alt=""></div>
</main>

<script>
    setTimeout( function(){
        document.querySelector('#logo').classList.add('animacion');
    },  0)
</script>

<style>
    .cabecera{
        opacity: 0;
    }

    @keyframes fantasma{
        from {
            opacity:0;
            transform: translateY(55%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    .cabecera.animacion{
        animation: fantasma 1s ease-in-out 0s forwards;
    }
</style>