---
import { menuItems } from '../data/data'
---

<!-- ICONO DE HAMBURGUESA========================================= -->
<div
    id="ham"
    class='absolute top-2 left-4 w-[2rem] z-30 block sm:hidden cursor-pointer'
>
    <img
        src='/hamburguesa.svg'
        alt=''
    />
</div>

<!-- ICONO DEL HOME============================================ -->
<div
    id="home"
    class='absolute top-2 left-4 w-[2rem] hidden sm:block z-40 cursor-pointer'
>
    <a href='/inicio'>
        <img
            src='/home.svg'
            alt=''
        />
    </a>
</div>

<!-- LISTA DEL MENU=================================================== -->
<div class='w-full bg-slate-400 fixed leading-[3rem] flex opacity-30'>
    <nav class='mx-auto whitespace-nowrap border-2'>
        <ul
            id="desplegable"
            class='hidden flex-col py-[3rem] sm:flex sm:py-0 sm:flex-row transition-transform duration-1000 transform translate-y-full sm:translate-y-0'
        >
        
            {
                menuItems.map((item) => (
                    <li class='px-[2rem]'>
                        <a href={item.url}>{item.titulo}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
<style>
    .se-ve{
        display: block;
    }

</style>

<script>
    const boton = document.querySelector('#ham')
    const desplegable = document.querySelector('#desplegable')

    boton.addEventListener( 'click', () => {
        if( desplegable.classList.contains('hidden')){
        desplegable.classList.replace('hidden', 'block')
    }else if(desplegable.classList.contains('block')){
        desplegable.classList.replace('block', 'hidden')
    }
        
    })
</script>

html
<div class="h-10 w-10 bg-blue-500 fixed bottom-0 left-0 right-0 mx-auto transition-transform duration-1000 transform translate-y-full sm:translate-y-0 sm:translate-y-full sm:block sm:bottom-auto sm:top-0"></div>